@model TravelerApp.Models.StayDetail

@{
    ViewBag.Title = "Details";
}



<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StayId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StayId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfLodging)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeOfLodging)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StayId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
