@model TravelerApp.Models.TripDetail

@{
    ViewBag.Title = "Details";
}



    <hr />
<div class="well details-form">
 <h1 class="text-uppercase text-center">Trip Details</h1>
    <dl class="dl-horizontal" style="width:370px; margin:0 auto;">
        <dt>
            @Html.DisplayNameFor(model => model.TripId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>



<div class="col-md-4" style="padding: 40px">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="background-color: coral; color:white; text-align: center; 
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">RESTAURANTS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Eats)
            {
                <tr>
                    <td style="text-align:center">@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>



    <div class="col-md-4" style="padding: 40px">
        <table class="table table-bordered">
            <thead class="thead-dark text-white">
                <tr>
                    <th style="background-color: coral; color:white; text-align: center;
                    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">ATTRACTIONS</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Sees)
                {
                    <tr>
                        <td style="text-align:center">@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <div class="col-md-4" style="padding: 40px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="background-color: coral; color:white; text-align: center;
                    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">LODGING</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Stays)
                {
                    <tr>
                        <td style="text-align:center">@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TripId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
